.main {
    background-image: url(./../images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    position: relative;

    &__center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__link {
        // margin-bottom: 100px;
    }
    &__social {
        position: absolute;
        bottom: 80px;
        right: 100px;
        display: flex;
        flex-direction: column;
    }
    &__social-in {
        margin-bottom: 70px;
    }
    &__text-right {
        position: absolute;
        bottom: 60px;
        left: 220px;
        max-width: 400px;
        width: 100%;
    }
}
