@import "./abstracts/normalize.scss";
@import "./abstracts/vars";
@import './abstracts/mixins';
@import "./components/sections/main";
.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    @media screen and (max-width: 1500px) {
        padding: 0 40px;
    }
    @media screen and (max-width: 768px) {
        padding: 0 50px;
    }
    @media screen and (max-width: 576px) {
        padding: 0 40px;
    }
    @media screen and (max-width: 360px) {
        padding: 0 20px;
    }
}
